:root{
    --Primary-color:#2F4858;
    --secondary-color: #33658A;
    --accent1-color:#55DDE0;
    --accent2-color:#F6AE2D;
    --color-white: white;
  
 
 }

 body{width:99%;

}


nav a{
    color:var(--Primary-color);
    font-family: "Open Sans";
    padding:10px;
 }

 .hero{
   position:relative;
   padding-bottom:20px;
}
 

 .hero img{
    display:block;
    width:100%;
    height: auto;
 }

 .hero h1{
    position: absolute;
    top:20px;
    left: 40%;
    font-family: "Open Sans";
    color:var(--color-white );
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
   
 }

 
 

 .hero article{
    position: absolute;
    top:200px;
    left:10px;
    right:10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
 }

 .hero article img{
    width: 250px;
    padding-left: 20px;
    float:right;    
 }

 .hero article p{
    color:var(--accent2-color);
    padding: 30px;
    font-family: "Open Sans";
 }

 p{
    color:var(--secondary-color);
    font-family: "Open Sans";
 }

 article{
    padding: 10px;
 }

 h2{
    color:var(--secondary-color);
    font-family: "Open Sans";

 }

a{
    text-decoration: none;
}

.sociallinks img{
width:20px;
padding:5px;
   
}
.h_content{
   display:flex;
   justify-content: center;
   /*flex-wrap: wrap;*/
}

.c_1 {

   width:350px;
   padding:10px;

}
.c_2{
   width:250px;
   padding:10px;

}
.c_3{
   width:350px;
   padding:10px;

}


.my_grid{
   margin:1rem auto;
   display:grid;
   grid-template-columns: 120px 1fr 1fr;
   grid-gap:30px;
   max-width: 1000px;
   align-items: center;



}

.my_nav{
display: flex;
justify-content: end;
align-items: center;



}

nav a {
   flex: 1 1 100%;
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 500;

   padding:20px;

}


section {
   padding-top: 30px;
   padding-bottom:10px;
   max-width:1000px;
   margin: auto;
   color:var(--Primary-color);
   font-family: "Open Sans";


}

section h2{
text-align: center;
font-size: 34px;

}

section .contact{

   border:0px solid #F6AE2D;
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   padding-left: 20px;


}

.info h3{
   text-align: center;
}
.contactform h3{
   text-align: center;
}

.info p{
   text-align: left;
   padding-top: 10px;
}
.contactform {
   text-align: left;
}




.h_img{
   max-width:250px;
}

.a_container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-gap:30px;
}

.a_grid_item{
   max-width: 184px;

}

.a_grid_item img{
   max-width: 184px;
}

.a_grid_item p{
   position:relative;
   top:-35px;
   margin:auto;
   padding:0px;
   text-align: center;
   color:var(--color-white);
   font-weight: 400;
   background: rgba(0, 0, 0, 0.5);
   padding: 5px;;


}
footer{
   padding-top: 80px;
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: Open Sans;
   font-size: 14px;

}

.f_1{
   width: 200px;
   text-align: center;
}
.f_2{
   width: 600px;
   text-align: center;
}
.f_3{
   width: 200px;
   text-align: end;
}


.title{
   max-width: 1000px;
   margin:0 auto;
}

.title h1{
   text-align:center;
   margin:0 auto;
   padding-top: 20px;
   padding-bottom: 25px ;
   font-family: Open Sans;
   color:var(--Primary-color);
}


input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  box-sizing: border-box;
  border: 01px solid #33658A;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: rgba(230, 228, 228, 0.4);
  width:95%;
}

.form_item{
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;

  
 }

 .form_item_n{
   
   display: grid;
   grid-template-columns: 6fr 1fr 1fr;
   align-items:center;
   border: 0px solid #33658A;
 }

 input[type="checkbox"]{
   width: 20px;
   height: 20px;
   
  
}


 .form_item{
   border: 0px solid #33658A;
 }

 button{
   margin:1rem;
   background-color:var(--secondary-color);
   color:var(--color-white);
   border:none;
   border-radius: 0.5rem;
   padding:0.75rem;
   cursor: pointer;
   }
   
   button:hover{
   background-color: var(--accent2-color);
   }

   .map{
      padding-top: 60px;
      padding-bottom: 30px;
      margin:0 auto;
      max-width: 1000px;;
   }

   .specialradio {
      display: flex;
      flex-direction: column;
      align-items:start;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-left: 10px;



  }

  .specialradio label{
   padding-right: 12px;
  }

  .emptitle{
   max-width: 1000px;
   width:100%;
   margin:0 auto;

  }

  .emptitle h1{
   text-align: center;
   padding-bottom: 30px;
   padding-top: 40px;
  }

  .emp{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   grid-gap:30px;
   max-width: 1000px;

  }


  .emp figure{
   border: 01px solid #33658A;
   margin:0 auto;
  }
  .emp figure img{

   max-width: 220px;
   

  }
  
  .emp figure figcaption{

   text-align: center;

  }


