:root{
    --Primary-color:#2F4858;
    --secondary-color: #33658A;
    --accent1-color:#55DDE0;
    --accent2-color:#F6AE2D;
    --color-white: white;
  
 
 }

 body{width:99%;
   font-family: "Open Sans";

}


nav a{
    color:var(--Primary-color);
    font-family: "Open Sans";
    padding:10px;
 }




.my_grid{
   margin:1rem auto;
   display:grid;
   grid-template-columns: 120px 1fr 1fr;
   grid-gap:30px;
   max-width: 1000px;
   align-items: center;



}

.my_nav{
display: flex;
justify-content: end;
align-items: center;



}

nav a {
   flex: 1 1 100%;
   font-family: Open Sans;
   font-size: 16px;
   font-weight: 500;

   padding:20px;

}


.hero{
   position:relative;
   padding-bottom:20px;
}

 

.hero img{
    display:block;
    width:100%;
    height: auto;
 }

.hero h1{
    position: absolute;
    top:20px;
    left: 40%;
    font-family: "Open Sans";
    color:var(--color-white );
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
   
 }

 
 

 .hero article{
    position: absolute;
    top:200px;
    left:10px;
    right:10px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
 }

 .hero article img{
    width: 250px;
    padding-left: 20px;
    float:right;    
 }

 .hero article p{
    color:var(--accent2-color);
    padding: 30px;
    font-family: "Open Sans";
 }

 p{
    color:var(--secondary-color);
    font-family: "Open Sans";
 }

 article{
    padding: 10px;
 }

 h2{
    color:var(--secondary-color);
    font-family: "Open Sans";

 }

a{
    text-decoration: none;
}

.sociallinks img{
width:20px;
padding:5px;
   
}
.h_content{
   display:flex;
   justify-content: center;
   /*flex-wrap: wrap;*/
}

.c_1 {

   width:350px;
   padding:10px;

}
.c_2{
   width:250px;
   padding:10px;

}
.c_3{
   width:350px;
   padding:10px;

}





section {
   padding-top: 30px;
   padding-bottom:10px;
   max-width:1000px;
   margin: auto;
   color:var(--Primary-color);
   font-family: "Open Sans";


}

section h2{
text-align: center;
font-size: 34px;

}

section .contact{

   border:0px solid #F6AE2D;
   display:grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 20px;
   padding-left: 20px;


}

.info h3{
   text-align: center;
}
.contactform h3{
   text-align: center;
}

.info p{
   text-align: left;
   padding-top: 10px;
}
.contactform {
   text-align: left;
}




.h_img{
   max-width:250px;
}

.a_container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   grid-gap:30px;
}

.a_grid_item{
   max-width: 184px;

}

.a_grid_item img{
   max-width: 184px;
}

.a_grid_item p{
   position:relative;
   top:-35px;
   margin:auto;
   padding:0px;
   text-align: center;
   color:var(--color-white);
   font-weight: 400;
   background: rgba(0, 0, 0, 0.5);
   padding: 5px;;


}
footer{
   padding-top: 80px;
   display:flex;
   justify-content: center;
   align-items: center;
   font-family: Open Sans;
   font-size: 14px;

}

.f_1{
   width: 200px;
   text-align: center;
}
.f_2{
   width: 600px;
   text-align: center;
}
.f_3{
   width: 200px;
   text-align: end;
}


.title{
   max-width: 1000px;
   margin:0 auto;
}

.title h1{
   text-align:center;
   margin:0 auto;
   padding-top: 20px;
   padding-bottom: 25px ;
   font-family: Open Sans;
   color:var(--Primary-color);
}


input[type="text"],
input[type="email"],
input[type="phone"],
textarea {
  box-sizing: border-box;
  border: 01px solid #33658A;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
  background: rgba(230, 228, 228, 0.4);
  width:95%;
}

.form_item{
   display: grid;
   grid-template-columns: 1fr 3fr;
   align-items: center;

  
 }

 .form_item_n{
   
   display: grid;
   grid-template-columns: 6fr 1fr 1fr;
   align-items:center;
   border: 0px solid #33658A;
 }

 input[type="checkbox"]{
   width: 20px;
   height: 20px;
   
  
}


 .form_item{
   border: 0px solid #33658A;
 }

 button{
   margin:1rem;
   background-color:var(--secondary-color);
   color:var(--color-white);
   border:none;
   border-radius: 0.5rem;
   padding:0.75rem;
   cursor: pointer;
   }
   
   button:hover{
   background-color: var(--accent2-color);
   }

   .map{
      padding-top: 60px;
      padding-bottom: 30px;
      margin:0 auto;
      max-width: 1000px;;
   }

   .specialradio {
      display: flex;
      flex-direction: column;
      align-items:start;
      cursor: pointer;
      font-size: 14px;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-left: 10px;



  }

  .specialradio label{
   padding-right: 12px;
  }

  .emptitle{
   max-width: 1000px;
   width:100%;
   margin:0 auto;

  }

  .emptitle h1{
   text-align: center;
   padding-bottom: 30px;
   padding-top: 40px;
  }

  .emp{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
   grid-gap:30px;
   max-width: 1000px;

  }


  .emp figure{
   border: 01px solid #33658A;
   margin:0 auto;
  }
  .emp figure img{

   max-width: 220px;
   

  }
  
  .emp figure figcaption{

   text-align: center;

  }




  /*   Css for index file */

  /* Banner Section */
.banner {
   width: 100%;
   height: 100%;
   min-height: 350px;
   background: url('../images/banner-1.jpg') center/cover no-repeat;
   color: white;
   text-align: center;
   padding: 100px 20px;
}

.banner-content{
   background: rgba(0, 0, 0, 0.5); /* Transparent background */
   
   padding-top: 30px;
   padding-bottom: 30px;
   width:50%;
   margin:0 auto;



}
.banner-content h1 {
   font-size: 4.0rem;
   margin: 0;
}

.banner-content p {
   font-size: 1.8rem;
   color:var(--accent1-color);
}

.btn {
   display: inline-block;
   background: var(--accent2-color);
   color: white;
   padding: 20px 30px;
   text-decoration: none;
   font-size: 1.3rem;
   font-weight: 600;
   margin-top: 20px;
   border-radius: 5px;
}

/* Products Section */
.subtitle{
   width: 1000px;
   margin:0 auto;
   border:0px solid #333;
   padding-top: 80px;
   padding-bottom: 20px;
}

.subtitle h1{
   
   margin:0 auto;
   font-size: 3rem;
   text-align: center;
   color:var(--Primary-color);

}
.products {
   display: flex;
   justify-content: space-between;
   column-gap: 20px;
   flex-wrap: nowrap;
   padding: 50px 40px;
   width: 1000px;
   margin:0 auto;
   border:0px solid #333;
}

.product {
   background-color:var(--accent1-color);
   padding: 20px;
   border-radius: 5px;
   text-align: center;
   width: 200px;
}

.product img {
   width: 100%;
   border-radius: 3px;
}

/* Call to Action */
.cta_w {
   width:1000px;
   height: 200px;
   margin:0 auto;
   background-image:url('../images/bg_call_to_action.jpg');
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);


   
}


.cta{
   display: flex;
   align-items: center; 
   justify-content: flex-start; 
   height: 200px; 
   padding-left: 30px; 
}

.cta .btn {
   background-color: var(--accent2-color);
}

.testimonials-container {
   max-width: 1000px;
   width: 100%;
   margin: 50px auto;
   padding: 20px;
   box-sizing: border-box;
   padding-bottom: 60px;
}


.testimonials {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   box-sizing: border-box;
}
.testimonial {
   background-color: var(--secondary-color);
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);
   color:#fafafa;
}
.testimonial p {
      color:#fafafa;
}



/* Newsletter Form */
.newsletter {
   max-width: 1000px;
   width: 100%;
   margin: 50px auto;
   padding: 20px;
   text-align: center;
   background-color: var(--secondary-color);
   border-radius: 10px;
}

.newsletter h2, p{
   color:#fff;
}


.newsletter input {
   width: 100%;
   max-width: 380px;
   padding: 10px;
   margin: 10px 0;
   border: 1px solid #33658A;
   border-radius: 5px;
   color:#fff;
   background-color: #f0eeee;
}
.newsletter button {
   background-color:var(--accent2-color);
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}



.trips-section {
   width: 100%;
   background-color:var(--secondary-color);
   padding: 50px 0;
   padding-bottom: 80px;
}

.trips-container {
   max-width: 1000px;
   width: 100%;
   margin: 0 auto;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px;
   text-align: center;

}
.trip-box {
   background: rgba(255, 255, 255, 0.85);
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgb(0, 0, 0, 0.8);
}
.trip-box img {
   width: 100%;
   border-radius: 5px;
}

.trip-box h3, p{
   color:var(--Primary-color);
}

.trip-box p{
   text-align: left;
}

.space{
   padding-top: 80px;
   padding-bottom: 80px;
}



.cta_w_trips {
   width:1000px;
   height: 200px;
   margin:0 auto;
   background-image:url('../images/bg_call_to_action.jpg');
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.8);

  
}

.cta_w_trips p {
font-size: 2rem;
padding-left: 30px;
color:#fff;
padding-top:15px;
}
