:root{
   --color-gray:gray;
   --color-gray-eee: #eee;
   --color-white: white;
   --color-darkblue:darkblue;
   --border-solid-black: 1px solid black;
   --color-black-333: #333;

}


nav{
    background-color:var(--color-darkblue);
    padding: 10px;
}

nav a{
    color:var(--color-white);
    display:block;
    padding:20px;
}

h1{
    color:var(--color-darkblue);

}

main img{
    width:150px;
    height: auto;
    border: var(--border-solid-black);
    padding:2px;
    box-shadow:0 0 30px gray;


}

p{
    padding:0;
}

aside{

    width:20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: var(--color-gray-eee);
    color:var(--color-black-333);
    text-align: center;
}

aside img{
    width:200px;
    height:auto;
}

footer{
    margin-top: 15px;
    border-top: var(--border-solid-black);
    text-align: center;
}


.flexcontainer{
    border:1px solid #000;
    background-color: chocolate;
    display:flex;
    flex-direction: row;
}

.flexitem{
    width:250px;
    max-width:250px;
    margin:10px;
    border: 1px solid #35adad;
    background-color: darkolivegreen;

}

.flex1{

    min-height: 100px;
}

.flex2{

    min-height: 100px;
}

.flex3{

    min-height: 300px;
}